.block-home
  // padding-top: 20vh
  min-height: 100vh
  display: flex
  align-items: center
  // position: fixed
  position: sticky
  top: 0
  z-index: -1


.title
  font-weight: bold
  font-size: 2em
  line-height: 1.5
  font-family: Poppins, sans-serif
  // position: sticky
  // top: 0
  margin-bottom: .5em
  span
    display: block

.t1
  font-weight: 500
  // text-decoration: underline
  // font-size: 1.2em
.t2
  font-weight: 400
  // font-size: 1.1em
.t3
  font-weight: 300

.actions
  display: flex
  flex-flow: row wrap
  align-items: center
  align-content: center


  a:not([class])
    color: inherit
    text-decoration: underline


  > *:not(:last-child)
    margin-right: 1em


.button
  border-radius: 5px
  padding: 1em 1.25em
  background-color: #FF3838
  // background-color: #FF3838
  color: white
  font-weight: 500
  font-size: 1.125em
  cursor: pointer
  text-decoration: none
