.header
  margin: 2em 0

  h1
    margin: 0

.navigation
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  color: #ccc


  ul
    display: flex
    flex-flow: row wrap
    list-style-type: none
  li + li
    margin-left: 1.5em


.link-active
  color: black