.header
  @apply h-24 flex align-middle top-0 right-0 left-0 fixed
  h1
    margin: 0


.navigation
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  color: #ccc
  height: 100%


  ul
    display: flex
    flex-flow: row wrap
    list-style-type: none
  li + li
    margin-left: 1.5em


.link-active
  color: black